@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    margin-top: 20px;
}

ul, li {
  margin: 0;
  padding: 0;
}

.crossing {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  input {
    margin-top: 30px;
  }

  .before {
    ul {
      display: flex;
      list-style: none;

      li {
        cursor: pointer;
        text-align: center;
        font-size: 2em;
        width: 50px;
        height: 50px;
        border: 1px solid black;
      }

      li:hover {
        border: 3px solid black;
      }
    }
  }

  .after {
    ul {
      display: flex;
      list-style: none;

      li {
        ul {
          display: flex;
          list-style: none;

          li {
            text-align: center;
            font-size: 2em;
            width: 50px;
            height: 50px;
            border: 1px solid black;
          }
        }
      }

      li + li {
        ul {
          li {
            border: 1px solid red;
          }
        }
      }
    }
  }
}
